PROFILE=prod
OFERTA_PORT=8000
DB_HOST=postgres #localhost when running outside the docker
DB_PORT=5432
DB_DATABASE=postgres
DB_USER=postgres
DB_PASSWORD=postgres
KEYS_PATH=keys
ALLOWED_ORIGINS=http://localhost:4200
ADMIN_USER=admin
ADMIN_EMAIL=admin@admin.com
ADMIN_PASSWORD=admin
