<configuration>
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%n %d{HH:mm:ss} | %highlight(%-5level) | %cyan(%logger{30})
                | %msg</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>
